<footer>
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <!-- Footer About Section Start Here -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-footer footer-one">
                        <h3>الجمعية التونسية للتراث المشترك "ثقــافــات"</h3>
                        <div class="footer-logo"><img src="{{ asset('frontOffice/images/footer-logo.png') }}"
                                                      alt="footer-logo"></div>
                        <p>
                            ثقافات هي جمعية ثقافية تنموية تعمل على إبراز دور التراث في تقريب الشعوب والحضارات والمصالحة
                            بينها وتحسيس الشباب بأهمية تراثه ودفعه للتصالح معه دون تعصّب ولا مغالاة، وإقامة شراكات مع كل
                            الفاعلين في المجال الثقافي والمساهمة في دعم وتأطير مختلف الناشطين والباحثين في مجال التراث
                            من طلبة ومتربصين وهياكل مجتمع مدني، والعمل على التوليف بين مختلف المتدخلين في هذا المجال
                            تصرّفا ودراسة وتوثيقا وصيانة واستثمارا وإحياء...
                        </p>


                    </div>
                </div>
                <!-- Footer About Section End Here -->

                <!-- Footer Popular Post Section Start Here -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-4">
                    <div class="single-footer footer-two">
                        <h3>معلومات الاتصال</h3>
                        <nav>
                            <ul>
                                <li>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <p><a href="#"><i class="fa fa-map-marker fa-10x"></i> العنوان: المعهد العالي
                                                لمهن التراث، 5 زنقة البشروش، مونفلوري، 1089، تونس، الجمهورية التونسية
                                            </a>
                                        </p>
                                        <p><a href="#"><i class="fa fa-phone fa-7x"></i> 142 331 71 216+ </a>
                                        </p>
                                        <p><a href="#"><i class="fa fa-envelope fa-7x"></i>atpp@thaqafat.tn</a>
                                        </p>
                                        <p><a href="#"><i class="fa fa-print fa-7x"></i> 142 331 71 216+</a>
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="footer-social-media-area">
                                            <nav>
                                                <ul>
                                                    <!-- Facebook Icon Here -->
                                                    <li>
                                                        <a href="https://www.facebook.com/%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D9%8A%D8%A9-%D8%A7%D9%84%D8%AA%D9%88%D9%86%D8%B3%D9%8A%D8%A9-%D9%84%D9%84%D8%AA%D8%B1%D8%A7%D8%AB-%D8%A7%D9%84%D9%85%D8%B4%D8%AA%D8%B1%D9%83-%D8%AB%D9%82%D9%80%D9%80%D8%A7%D9%81%D9%80%D9%80%D8%A7%D8%AA-ATPP-Thaq%C3%A2f%C3%A2t-1616097741826549/"><i
                                                                    class="fa fa-facebook"></i></a></li>
                                                    <!-- Twitter Icon Here -->
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <!-- Pinterest Icon Here -->
                                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a href='https://www.counters-free.net/'>عدد الزيارات للموقع</a>
                
                                        <script type="text/javascript"
                                                src="https://www.freevisitorcounters.com/en/home/counter/542735/t/13"></script>
                                    </div>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Footer Popular Post Section End Here -->

                <!-- Footer From Flickr Section Start Here -->
                <!-- Footer From Flickr Section End Here -->
            </div>
        </div>
    </div>
    <!-- Footer Copyright Area Start Here -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 co">
                    <div class="footer-bottom">
                        <p>تصميم الموقع وتطويره: بهيجة المشرقي  </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 co">
                    <div class="footer-bottom">
                        <p> جميع الحقوق محفوظة. 2019 thaqafat.tn © </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Copyright Area End Here -->
</footer>
