.pagination > li {
    border: none;
}

.header-bottom-area .main-menu ul li a {
    font-family: 'Cairo-Bold';
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.header-bottom-area .main-menu ul li:hover a {
    background-color: #3498DB;
    color: white;
}
.header-bottom-area .main-menu ul li.active a {
    background-color: #3498DB;
    color: white;
}

.header-top-area{
    background-color: #3498DB;
}
.header-top-area .header-top-left ul li {
    display: inline-block;
    margin-left: 25px;
    color: white;
}
.header-top-area .header-top-left ul li a {
    color: white;
}