{% extends 'frontOffice/base.html.twig' %}
{% block page_title %}نشرية ثقافات{% endblock %}
{% block body %}
    <!-- Slider Section Start Here -->
    <div class="container">

        <div class="single-blog-page-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-rtl first-col mb-md-30" style="text-align: justify">
                        <h1 class="title-bg">مجلة ثقافات </h1>

                        <p>
                            "ثقافات" هي مجلة الكترونية سنوية تصدر عن الجمعية التونسية للتراث المشترك "ثقافات" وتتضمن،
                            بالإضافة إلى أخبار الجمعية وأنشطتها، مجموعة من المقالات الموثقة حول عدة مجالات متصلة بالتراث
                            الثقافي والطبيعي مع إيلاء اهتمام كبير بالمواضيع ذات العلاقة بالتراث المشترك وبالأعمال متعددة
                            الاختصاصات والتي تتجاوز الفترات التاريخية والحدود الجغرافية والمقاربات التي تبحث على المشترك
                            بين الحضارات والشعوب والثقافات.
                        </p>


                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 float-rtl last-col">


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}