{% extends 'frontOffice/base.html.twig' %}

{% block body %}
    <!-- Slider Section Start Here -->
    <div class="container">

        <div class="single-blog-page-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 float-rtl first-col mb-md-30">
                        <h1 class="title-bg">البيانات المفتوحة</h1>

                        <p>
                            صدر النص التأسيسي للجمعية التونسية للتراث المشترك "ثقافات" في الرائد الرسمي للجمهورية
                            التونسية،
                            إعلانات قانونية وشرعية وعدلية عدد 137 لسنة 2018 والمؤرخ بـ 10 نوفمبر 2018، مقرها المعهد
                            العالي
                            لمهن التراث بتونس وتتألف هيأتها التأسيسية من مجموعة من المتطوعين ينتسبون إلى عدة مؤسسات وإلى
                            اختصاصات متنوعة علمية وإنسانية واجتماعية تماشيا مع صبغتها ومع الهدف الرئيس الذي رسمته
                            لنفسها.
                        </p>
                        <p>
                            ثقافات هي جمعية ثقافية تنموية تعمل على إبراز دور التراث في تقريب الشعوب والحضارات والمصالحة
                            بينها وتحسيس الشباب بأهمية تراثه ودفعه للتصالح معه دون تعصّب ولا مغالاة، وإقامة شراكات مع كل
                            الفاعلين في المجال الثقافي والمساهمة في دعم وتأطير مختلف الناشطين والباحثين في مجال التراث
                            من
                            طلبة ومتربصين وهياكل مجتمع مدني، والعمل على التوليف بين مختلف المتدخلين في هذا المجال تصرّفا
                            ودراسة وتوثيقا وصيانة واستثمارا وإحياء...
                        </p>
                        <p>
                            وضعت جمعية ثقافات برنامج أنشطة متنوع يجمع بين التظاهرات الظرفية ومواكبة المناسبات الوطنية
                            والدولية والبرامج متوسطة وطويلة المدى. وهي تظل متفتحة على كل المبادرات الواردة من مختلف
                            الهياكل
                            الوطنية والدولية المهتمة بالتراث المشترك باعتباره عنصرا مشتركا بين الشعوب وعامل مصالحة
                            بينها.


                        </p>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 float-rtl last-col">



                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}